html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* A better looking default horizontal rule */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}
/*===================typography========================*/
body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/*===================typography========================*/
/*======================menubar========================*/
.menubar {
  background-color: #ffffff;
  padding: 10px 0px;
  position: fixed;
  width: 100vw;
  top: 0;
  overflow: hidden;
  z-index: 9999;
  box-shadow: 0px 12px 24px rgb(0 0 0 / 10%);
}
.menubar ul {
  list-style-type: none;
  padding: 0;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  display: flex;
  justify-content: space-around;
}
.menubar ul li {
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.menubar a {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 600;
  padding: 10px;
  color: #505050 !important;
  vertical-align: middle;
}
.menubar a:hover {
  background-color: grey;
}
img.logo {
  width: 50px;
  height: fit-content;

}
a.logo {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  padding: 10px;
  color: #ffffff;
  vertical-align: middle;
}
.content_container input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 0px;
  margin-right: 0px;
  border-bottom: 1px solid #505050;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px; 
  font-size: 17px;
}
::placeholder {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
/*======================menubar========================*/
/* copy all of these to your css file to make sure our menubar look similar*/
button.learnmore {
  display: block;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto; 
  padding-top: 20px; 
  padding-bottom: 20px;
  background-color: #70CF84;
  background-repeat: no-repeat;
  border: 0px; 
  border-radius: 8px; 
}
button.learnmore a {
  text-decoration: none; 
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1em; 
  font-weight: 600; 
  letter-spacing: 1px; 
  padding: 50px 20px;
}
button.information {
  display: block;
  margin: auto;
  margin-top: 5vh;
  padding-top: 20px; 
  padding-bottom: 20px; 
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: 0px; 
  border-radius: 8px; 
}
button.information a {
  text-decoration: none; 
  color: #323232;
  text-transform: uppercase;
  font-size: 1em;  
  font-weight: 600; 
  letter-spacing: 1px; 
  padding: 50px 20px;
}
button.overlay {
  display: block;
  margin-top: 20px;
  padding-top: 20px; 
  padding-bottom: 20px; 
  background-color: transparent;
  background-repeat: no-repeat;
  border: 2px solid #323232; 
  cursor: pointer;
}
button.overlay a {
  text-decoration: none; 
  color: #323232;
  text-transform: uppercase;
  font-size: 16px; 
  font-weight: 600; 
  letter-spacing: 1px; 
  padding: 20px;
}
p.intro_text {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 0px;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 0px;
  font-size: 16px;
}
p.overall {
  margin-top: 0vh;
  margin-bottom: 0vh;
  padding-top: 20px;
  font-size: 1.125em;
  color: #ffffff;
}
p.overallblockquote {
  margin-top: 10px;
  margin-bottom: 0vh;
  padding-top: 20px;
  font-size: 1.125em;
  text-align: center;
  font-style: italic;
  color: #ffffff;
}
.stripe {
  display: grid;
  grid-template-columns: [left] 20px [col1] 1fr [col7] 20px [right];
}
.stripe.about {
  margin-bottom: 100px;
  margin-top: 10vh;
}
.stripe.history {
  margin-bottom: 100px;
  margin-top: 10vh;
}
.stripe.features {
  margin-top: 10vh;
  margin-bottom: 100px;
}
.stripe.contact {
  margin-top: 10vh;
  margin-bottom: 100px;
}
.stripe.introduction {
  background-image: linear-gradient(rgba(255,255,255,0.65), rgba(255,255,255,0.65)), url('images/intro.jpg');
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  padding: 0px;
}
div.overall {
  display: block; 
  background-color: #70CF84;
  padding-top: 10vh;
  padding-bottom: 10vh; 
  padding-left: 10vw;
  padding-right: 10vw;
  height: auto;
  border-radius: 8px; 
}
.stripe.introduction h1 {
  font-family: 'Rozha One',serif;
  text-align: center;
  font-size: 4.5em;
  font-weight: 100;
  color: #323232;
  margin-top: 25vh;
  margin-bottom: 0vh;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 5px; 
}
.stripe.introduction h2 {
  text-align: center;
  font-size: 20px;
  color: #323232;
  margin-top: 4vh;
  margin-bottom: 0vh;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px; 
}
.stripe.history h2 {
  margin-top: 0px;
  margin-bottom: 0px; 
  text-align: center;
  font-size: 2.25em;
  color: #ffffff; 
  font-family: 'Rozha One',serif; 
}
.stripe.features h2 {
  margin-top: 0px;
    margin-bottom: 4vh; 
    text-align: center;
    font-size: 2.25em;
    color: #323232; 
    font-family: 'Rozha One',serif; 
}
.stripe.contents h2 {
  text-align: center;
  font-size: 5rem;
  color: #323232;
  margin-top: 0px;
  margin-bottom: 40px;
}
.feature.introduction h1 {
  text-align: center;
  font-size: 5rem;
  color: #323232;
  margin-top: 40px;
  margin-bottom: 20px;
}
.contents.introduction h1 {
  text-align: center;
  font-size: 5rem;
  color: #323232;
  margin-top: 0px;
  margin-bottom: 180px;
  padding-left: 200px;
  padding-right: 200px;
}
.feature_item {
  height: auto;
  padding: 0px;
  overflow: hidden;
  background-color: #dddddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature_item h3 {
  padding-top: 300px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px; 
  font-weight: 600; 
  letter-spacing: 1px; 
}
.feature_item button {
  width: 100%;
  border: 0px;
  padding: 0px;
}
.feature_item button a {
  display: block;
  padding: 0px;
  text-decoration: none;
  font-size: 16px;
  color: #0f1f2a;
}
.feature_item.category1 h3 {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('images/care.jpg');
}
.feature_item.category2 h3 {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('images/grow.jpg');
}
.feature_item.category3 h3 {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('images/style.jpg');
}
.feature_item.category4 h3 {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('images/species.jpg');
}
.feature_item.category5 h3 {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('images/beginner.jpg');
}
  /*======================footer========================*/
  div.footer1 {
    margin-left: auto;
    margin-right: auto;
  }
  div.footer2 {
    margin-top: 10px;
    margin-left: 30vw;
    margin-right: 30vw;
  }
  p.footer1 {
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
  }
  p.footer2 {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
  }
  img.logoend {
    display: block;
    width: 50%;
    margin: auto;
  }
  p.logoend {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
    letter-spacing: 1px;
    font-size: 18px;
    color: #ffffff;
    vertical-align: middle;
  }
  /*======================footer========================*/
.content_container {
  grid-column-start: col1;
  grid-column-end: col7;
}
/* copy all of these page_grid too!*/
.content_container.page_grid {
  display: grid;
  grid-gap: 20px 0px;
} 
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
font-size: 1em;
font-family: 'Open Sans';
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
font-size: 1em;
font-family: 'Open Sans';
}

::-ms-input-placeholder { /* Microsoft Edge */
font-size: 1em;
font-family: 'Open Sans';
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }

  to {
      top: 0;
      opacity: 1
  }
}

@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }

  to {
      top: 0;
      opacity: 1
  }
}

#top {
position: fixed; /* Fixed/sticky position */
bottom: 20px; /* Place the button at the bottom of the page */
right: 30px; /* Place the button 30px from the right */
z-index: 99; /* Make sure it does not overlap */
border: none; /* Remove borders */
outline: none; /* Remove outline */
background-color: #70cf84; /* Set a background color */
color: white; /* Text color */
cursor: pointer; /* Add a mouse pointer on hover */
padding: 15px; /* Some padding */
border-radius: 5px; /* Rounded corners */
font-size: 18px; /* Increase font size */
}

#top:hover {
background-color: #505050; /* Add a dark-grey background on hover */
}
/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media only screen and (min-width: 880px) {
  .stripe {
    grid-template-columns: [left] 100px [col1] 1fr [col7] 100px [right];
  }
  .content_container.page_grid {
    display: grid;
    grid-template-columns: [col1] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7];
    grid-gap: 40px;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #000000;
    display: grid;
    grid-template-columns: [col1] 1fr [col7];
    grid-gap: 0px;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  
  .flex-item-left {
    padding: 0px;
    flex: 50%;
    margin-left: 5vw;
  }
  
  .flex-item-right {
    padding: 0px;
    flex: 50%;
    margin-right: 5vw;
  }
}
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex-direction: column;
    margin: 0px;
  }
  .content_container input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  .content_container input[type=text] {
    border: 1px solid #ccc;  
  }
}
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
